<h1>Messaging Page</h1>
<br><br><br><br><br><br><br><br><br><br>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<div id="thisdiv">



    <div id="display">

        <!-- <div class="container darker">
          <b>Tom</b><p>Hello Everyone, How Are You Guys Doing?</p>
          <span class="time-left">20th, April 2021</span>
        </div> -->

    </div>

<input type="hidden" name="main_user" id="authencticated_user" value="{{request.user}}">



    <script>
        $(document).ready(function () {

            setInterval(function () {
                $.ajax({
                    type: 'GET',
                    url: "/getMessages/{{receiver_obj}}",
                    success: function (response) {
                        console.log(response);
                        $("#display").empty();
                        var x = document.getElementById("authencticated_user").value;
                        for (var key in response.messages) {
                            if (response.messages[key].sender == x){

                                var temp = "<div class='container darker'><b>"
                                      + 
                                      " <div class='user'> you</div> " 
                                      + 
                                      "</b><p>" + response.messages[key].message
                                $("#display").append(temp);
                            }else{
                                var temp = "<div class='container darker'><b>"
                                      + 
                                      " <div class='user'> {{request.user.username}} </div> " 
                                      + 
                                      "</b><p>" + response.messages[key].message
                                $("#display").append(temp);
                            }
                        }
                    },
                    error: function (response) {
                        console.log("error detected")
                    }
                });
            }, 1000);
        })
    </script>








    {% for message in messages %}
    {% if message.sender == request.user %}
    <b>you</b> <br>
    {{message.message}} <br><br>
    {% else %}
    <b>{{message.sender}}</b> <br>
    {{message.message}} <br><br>
    {% endif %}
    {% endfor %}

</div>

<br><br><br><br><br>


<form action="" id="post-form">
    {% csrf_token %}
    <fieldset>
        <input type="hidden" name="receiver" id="receiver" value="{{receiver_obj}}" />
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
    </fieldset>
    <button type="submit" name="reload">Message</button>
</form>








<script type="text/javascript">
    $(document).on('submit', '#post-form', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '/send',
            data: {
                username: $('#receiver').val(),
                message: $('#message').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            
            
        });
        document.getElementById('message').value = ''
    });
</script>